<h1>Editing merchant</h1>

<% form_for :admin, 
					:url => { :action => :edit_merchant } do |f| %>
  <%= f.error_messages %>
            <%= f.hidden_field :merchant_id, :value => @merchant.merchant_id %>
			<div style="width:130px; float:left; clear:both">Company Name:</div>
					<%= f.text_field :merchant_name, :size => 35, :value => @merchant.merchant_name %> <br /><br />
			
				<div style="width:130px; float:left; clear:both">Contact Name:</div>
					<%= f.text_field :merchant_contact, :size => 35, :value => @merchant.merchant_contact %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (1):</div>
					<%= f.text_field :merchant_address1, :size => 35,  :value => @merchant.merchant_address1 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (2):</div>
					<%= f.text_field :merchant_address2, :size => 35,  :value => @merchant.merchant_address2 %> <br /><br />
				<div style="width:350px; float:left; clear:both"><span style="width:130px; display:block; float:left">City:</span>
					<%= f.text_field :merchant_city, :size => 20,  :value => @merchant.merchant_city %> </div>
				<div style="width:130px; float:left; "><span style="width:50px; display:block; float:left">State:</span>
		<%= f.text_field :merchant_state, :size => 3, :value => @merchant.merchant_state %></div>
	    <div style="width:130px; float:left;">Zip: 
		<%= f.text_field :merchant_postalcode, :size => 5, :value => @merchant.merchant_postalcode %></div>
		<div style="width:130px; float:left;">Country: 
		<%= f.text_field :merchant_country, :size => 5, :value => @merchant.merchant_country %></div><br /><br />
		<div style="width:130px; float:left; clear:both">Website:</div>
					<%= f.text_field :merchant_website, :size => 69, :value => @merchant.merchant_website %> <br /><br />
		<div style="width:130px; float:left; clear:both">Email:</div>
					<%= f.text_field :merchant_email, :size => 69, :value => @merchant.merchant_email %> <br /><br />
		<div style="width:130px; float:left; clear:both">Commission %:</div>
					<%= f.text_field :merchant_commission, :size => 3, :value => @merchant.merchant_commission %> <br /><br />
		
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>

<% end %>

