<% content_for :head do %>
<script>
	/* All you have to do is to call
	 * a box() function on a selection
	 */

	$(document).ready(function() {
		
		<% unless flash[:alert].blank? -%>
			  jAlert('<%= flash[:alert] %>');
			<% end -%>

		$(".tabs").tabs();

		$("#merchant_report_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#pager"), positionFixed: false});
		
		//$("#report2_table").tablesorter({widthFixed: true, widgets: ['zebra']})
		//			.tablesorterPager({container: $("#pager2"), positionFixed: false});
		
		$("#auctions_table").tablesorter({widthFixed: true, widgets: ['zebra'], headers: {4:{sorter: false}}})
					.tablesorterPager({container: $("#auctions_pager"), positionFixed: false});
		
		$("#rebates_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#rebates_pager"), positionFixed: false});

		$("#merchants_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#merchants_pager"), positionFixed: false});
					
		$("#admins_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#merchants_pager"), positionFixed: false});
		
		$(".btn_end_auction").click(function(){
			var answer = confirm("Are you sure you want to end this auction?")
		    if (answer){
				id = this.id;
		        var url = "http://beta.ayopasoft.com/AyopaServer/end-auction?auctionID=" + id;

				    $.getJSON(url + "&jsoncallback=?", function(data){
				    
					Auction = data.auction_id;

				    if(Auction != "")
				    {
				     	window.location.reload();
				    }
				    else
				    {
				     
				    }

				   })
		    }
		});
	    
	});
</script>
<% end %>
<div class="tabs">
	<ul>
		<li><a href="#admin_reports">Reports</a></li>
		<li><a href="#admin_auctions">Auctions</a></li>
		<li><a href="#admin_rebates">Rebates</a></li>
		<li><a href="#admin_merchants">Merchants</a></li>
		<li><a href="#admin_admins">Admins</a></li>
		<li><a href="#admin_account">Account</a></li>
	</ul>
	<div id="admin_reports">
		<div class="tabs">
			<ul>
				<li><a href="#admin_reports_merchant">Merchants Report</a></li>
				
			</ul>
			<div id="admin_reports_merchant">
				<div id="pager" class="pager">
					<form>
						<img src="/images/first.png" class="first"/>
						<img src="/images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="/images/next.png" class="next"/>
						<img src="/images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>
				
				<table id="merchant_report_table" class="tablesorter" width="100%">
					<thead>
						<tr>
							<th>Merchant Name</th>
							<th>Merchant Contact</th>
							<th>Merchant Email</th>
						</tr>
					</thead>
					<tbody>
						<% @merchants.each do |m| %>
							<tr>
								<td><%=h m.merchant_name %></td>
								<td><%=h m.merchant_contact %></td>
								<td><%= mail_to m.merchant_email, nil, :subject => "Ayopa Account" %></td>
							</tr>
						<% end %>
						
					</tbody>
				</table>
			</div>
		
		</div>
	</div>
	<div id="admin_auctions">
		<div id="auctions_pager" class="pager">
			<form>
				<img src="/images/first.png" class="first"/>
				<img src="/images/prev.png" class="prev"/>
				<input type="text" class="pagedisplay"/>
				<img src="/images/next.png" class="next"/>
				<img src="/images/last.png" class="last"/>
				<select class="pagesize">
					<option selected="selected"  value="10">10</option>

					<option value="20">20</option>
					<option value="30">30</option>
					<option  value="40">40</option>
				</select>
			</form>
		</div>
		
		<table id="auctions_table" class="tablesorter" width="100%">
			<thead>
				<tr>
					<th>Merchant</th>
					<th>Product</th>
					<th>Buyers</th>
					<th>Current Price</th>
					<th>Rebate Due</th>
					<th>Commission Due</th>
					<th>Total Due</th>
					<!--<th><input type="button" value="End All Auctions" /></th>-->
				</tr>
			</thead>
			<tbody>
				<% @auctions.each do |a| %>
				<tr>
					<td><%=h a.merchant_name %></td>
					<td><%=h a.product_name %></td>
					<td><%=h a.current_level %></td>
					<td><%=h number_to_currency a.current_price %></td>
					<td><%=h number_to_currency a.rebate_total %></td>
					<td><%=h number_to_currency a.commission_total %></td>
					<td><%=h number_to_currency a.auction_total %></td>
					<td><input type="button" class="btn_end_auction" id="<%= a.auction_id %>" value="End Auction Early" /></td>
				</tr>
				<% end %>
				
			</tbody>
		</table>
	</div>
	<div id="admin_rebates">
		<div id="rebates_pager" class="pager">
			<form>
				<img src="/images/first.png" class="first"/>
				<img src="/images/prev.png" class="prev"/>
				<input type="text" class="pagedisplay"/>
				<img src="/images/next.png" class="next"/>
				<img src="/images/last.png" class="last"/>
				<select class="pagesize">
					<option selected="selected"  value="10">10</option>

					<option value="20">20</option>
					<option value="30">30</option>
					<option  value="40">40</option>
				</select>
			</form>
		</div>
		
		<table id="rebates_table" class="tablesorter">
			<thead>
				<tr>
					<th>Merchant Name</th>
					<th>Product</th>
					<th>Rebate Status</th>
				</tr>
			</thead>
			<tbody>
				<% @auctions.each do |a| %>
							<tr>
								<td style="width:20%"><%= a.merchant_name %></td>
								<td style="width:20%"><%= a.product_name %></td>
								
								<td>
									<% if a.rebate_sent == "1" %>
										Check Sent<br /> <img src="/images/check_sent.png" alt="2" />
									<% elsif a.auction_expired  %>
										Completed<br /> <img src="/images/completed.png" alt="2" />
									<% else %>
										In Progress<br /> <img src="/images/in_progress.png" alt="0" />
									<% end %>
								</td>
								
							</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div id="admin_merchants">
		<div class="tabs">
			<ul>
				<li><a href="#admin_merchant_info">Current</a></li>
				<li><a href="#admin_merchant_new">New</a></li>
			</ul>
		<div id="admin_merchant_info">
		<div id="merchants_pager" class="pager">
			<form>
				<img src="/images/first.png" class="first"/>
				<img src="/images/prev.png" class="prev"/>
				<input type="text" class="pagedisplay"/>
				<img src="/images/next.png" class="next"/>
				<img src="/images/last.png" class="last"/>
				<select class="pagesize">
					<option selected="selected"  value="10">10</option>

					<option value="20">20</option>
					<option value="30">30</option>
					<option  value="40">40</option>
				</select>
			</form>
		</div>
		
		<table id="merchants_table" class="tablesorter" width="100%">
			<thead>
				<tr>
					<th>Merchant Name</th>
					<th>Merchant Contact</th>
					<th>Merchant Email</th>
					<th>Commission %</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @merchants.each do |m| %>
					<tr>
						<td style="width:20%"><%= link_to m.merchant_name, :controller => "admins", :action => "edit_merchant", :id => m.merchant_id  %></td>
						<td><%=h m.merchant_contact %></td>
						<td><%= mail_to m.merchant_email, nil, :subject => "Ayopa Account" %></td>
						<td><%=h m.merchant_commission %></td>
						<td>
							<% if m.merchant_inactive == "1" %>
							   <% form_for :merchant, :url => {:action => "activate_merchant"}  do |f| %>
							   		<%= f.hidden_field :merchant_inactive, :value => "0" %>
									<%= f.hidden_field :id, :value => m.id %>
									<%= f.submit 'Activate', :id => m.id, :confirm => "Are you sure you want to activate " + m.merchant_name + "?" %>
							   <% end %>
							<% else %>
								<% form_for :merchant, :url => {:action => "inactivate_merchant"}  do |f| %>
							   		<%= f.hidden_field :merchant_inactive, :value => "1" %>
									<%= f.hidden_field :id, :value => m.id %>
									<%= f.submit 'Inactivate', :id => m.id, :confirm => "Are you sure you want to inactivate " + m.merchant_name + "?" %>
							   <% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
				
			</tbody>
		</table>
	</div>
	
		<div id="admin_merchant_new">
		<% form_for :admin, 
					:url => { :action => :new_merchant } do |f| %>
			<div style="width:130px; float:left; clear:both">Company Name:</div>
					<%= f.text_field :merchant_name, :size => 35 %> <br /><br />
			
				<div style="width:130px; float:left; clear:both">Contact Name:</div>
					<%= f.text_field :merchant_contact, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (1):</div>
					<%= f.text_field :merchant_address1, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (2):</div>
					<%= f.text_field :merchant_address2, :size => 35 %> <br /><br />
				<div style="width:350px; float:left; clear:both"><span style="width:130px; display:block; float:left">City:</span>
					<%= f.text_field :merchant_city, :size => 20 %> </div>
				<div style="width:130px; float:left; ">State: 
		<%= f.text_field :merchant_state, :size => 3 %></div>
	    <div style="width:130px; float:left;">Zip: 
		<%= f.text_field :merchant_postalcode, :size => 5 %></div>
		<div style="width:140px; float:left;">Country: 
		<%= f.text_field :merchant_country, :size => 5 %></div><br /><br />
		<div style="width:130px; float:left; clear:both">Website:</div>
					<%= f.text_field :merchant_website, :size => 69 %> <br /><br />
		<div style="width:130px; float:left; clear:both">Email:</div>
					<%= f.text_field :merchant_email, :size => 69 %> <br /><br />
		<div style="width:130px; float:left; clear:both">Commission %:</div>
					<%= f.text_field :merchant_commission, :size => 3 %> <br /><br />
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
		<% end %>
		</div>
    </div>
	
</div>
<div id="admin_admins">
	   <div class="tabs">
	   	<ul>
	   		<li><a href="#admins_current">Current</a></li>
			<li><a href="#admins_new">New</a></li>
	   	</ul>
	   
	   <div id="admins_current">
 		<table id="admins_table" class="tablesorter" width="100%">
			<thead>
				<tr>
					<th>Admin Name</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @admins.each do |a| %>
					<tr>
						<td style="width:20%"><%=h a.admin_name %></td>
						<td style="width:20%"><%=mail_to a.admin_email, nil, :subject => "Ayopa Account" %></td>
						<td>
							<% if a.admin_inactive == "1" %>
								<% form_for(a)  do |f| %>
									<%= f.hidden_field :admin_inactive, :value => "0" %>
									<%= f.hidden_field :id %>
									<%= f.submit 'Activate', :id => a.id, :confirm => "Are you sure you want to activate this user?" %><% end %>
							<% else %>
								<% form_for(a)  do |f| %>
									<%= f.hidden_field :admin_inactive, :value => "1" %>
									<%= f.hidden_field :id %>
									<%= f.submit 'Inactivate', :id => a.id, :confirm => "Are you sure you want to activate this user?" %><% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
				
			</tbody>
		</table>
		
	</div>
	
	<div id="admins_new">
			<% form_for :admin, 
					:url => { :action => :new_admin } do |f| %>
			<div style="width:130px; float:left; clear:both">Admin Name:</div>
					<%= f.text_field :admin_name, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Admin Email:</div>
					<%= f.text_field :admin_email, :size => 35 %> <br /><br />
				
					<%= image_submit_tag '/images/save.png' %>
		<% end %>
	</div>
	
  </div>
  
  
</div>

<div id="admin_account">
		<div class="tabs">
			<ul>
				<li><a href="#admin_set_password">Password</a></li>
			</ul>
			<div id="admin_set_password">
				<% form_for :admin, :url => {:action => "set_password"} do |f| %>
				    
					<div style="width:150px; float:left; clear:both">Password:</div>
					<%= f.password_field :password, :size => 35 %> <br /><br />
					<div style="width:150px; float:left; clear:both">Password Confirm:</div>
					<%= f.password_field :password_confirmation, :size => 35 %> <br />
					<%= image_submit_tag '/images/save.png' %>
					<%= f.hidden_field :id, :value => session[:user_id] %>
				<% end %>
			</div>
		</div>
	</div>
  </div>