<% content_for :head do %>
<script>
	/* All you have to do is to call
	 * a box() function on a selection
	 */

	$(document).ready(function() {
		$(".tabs").tabs();

		$("#auctions_table").tablesorter({widthFixed: true, widgets: ['zebra'], headers: {4:{sorter: false}}})
					.tablesorterPager({container: $("#auctions_pager"), positionFixed: false});

		$("#details_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#details_pager"), positionFixed: false});

		$("#rebates_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#rebates_pager"), positionFixed: false});

		$(".btn_end_auction").click(function(){
			var answer = confirm("Are you sure you want to end this auction?")
		    if (answer){
				id = this.id;
		        var url = "http://beta.ayopasoft.com/AyopaServer/end-auction?auctionID=" + id;

				    $.getJSON(url + "&jsoncallback=?", function(data){
				    
					Auction = data.auction_id;

				    if(Auction != "")
				    {
				     	window.location.reload();
				    }
				    else
				    {
				     
				    }

				   })
		    }
		});
		
	});
</script>
<% end %>

<div class="tabs">
	<ul>
		<li><a href="#merchant_reports">Reports</a></li>
		<li><a href="#merchant_account">Account</a></li>
		<li><a href="#merchant_plugins">Plugins</a></li>
	</ul>
	<div id="merchant_reports">
		<div class="tabs">
			<ul>
				<li><a href="#merchant_auctions">Auctions</a></li>
				<li><a href="#merchant_details">Details</a></li>
				<li><a href="#merchant_rebates">Rebate Status</a></li>
			</ul>
			<div id="merchant_auctions">
				<div id="auctions_pager" class="pager">
					<form>
						<img src="/images/first.png" class="first"/>
						<img src="/images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="/images/next.png" class="next"/>
						<img src="/images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="auctions_table" class="tablesorter" width="100%">
					<thead>
						<tr>
							<th>Product</th>
							<th>Buyers</th>
							<th>Current Price</th>
							<th>Rebate Due</th>
							<th>Commission Due</th>
							<th>Total Due</th>
							
							<!--<th><input type="button" value="End All Auctions" /></th>-->
						</tr>
					</thead>
					<tbody>
						<% @auctions.each do |a| %>
						<tr>
							<td><%= a.product_name %></td>
							<td><%= a.current_level %></td>
							
							<td><%=h number_to_currency a.current_price %></td>
							<td><%=h number_to_currency a.rebate_total %></td>
							<td><%=h number_to_currency a.commission_total %></td>
							<td><%=h number_to_currency a.auction_total %></td>
							<td><input type="button" class="btn_end_auction" id="<%= a.auction_id %>" value="End Auction Early" /></td>
						</tr>
						<% end %>
						
					</tbody>
				</table>
			</div>
			<div id="merchant_details">
				<div id="details_pager" class="pager">
					<form>
						<img src="/images/first.png" class="first"/>
						<img src="/images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="/images/next.png" class="next"/>
						<img src="/images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="details_table" class="tablesorter" width="100%">
					<thead>
						<tr>
							<th>Product</th>
							<th>Start Price</th>
							<th>Current Price</th>
							<th>Lowest Price</th>
							<th>Current Buyers</th>
							<th>Max Buyers</th>
						</tr>
					</thead>
					<tbody>
						<% @auctions.each do |a| %>
						<tr>
							<td><%= a.product_name %></td>
							<td><%=h number_to_currency a.auction_startprice %></td>
							<td><%=h number_to_currency a.current_price %></td>
							<td><%=h number_to_currency a.lowest_price %></td>
							<td><%= a.current_level %></td>
							<td><%= a.lowest_level %></td>
						</tr>
						<% end %>
						
					</tbody>
				</table>
			</div>
			<div id="merchant_rebates">
				<div id="rebates_pager" class="pager">
					<form>
						<img src="/images/first.png" class="first"/>
						<img src="/images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="/images/next.png" class="next"/>
						<img src="/images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="rebates_table" class="tablesorter">
					<thead>
						<tr>
							<th>Merchant Name</th>
							<th>Product</th>
							<th>Rebate Status</th>
						</tr>
					</thead>
					<tbody>
						<% @auctions.each do |a| %>
							<tr>
								<td style="width:20%"><%= a.merchant_name %></td>
								<td style="width:20%"><%= a.product_name %></td>
								
								<td>
									<% if a.rebate_sent == "1" %>
										Check Sent<br /> <img src="/images/check_sent.png" alt="2" />
									<% elsif a.auction_expired  %>
										Completed<br /> <img src="/images/completed.png" alt="2" />
									<% else %>
										In Progress<br /> <img src="/images/in_progress.png" alt="0" />
									<% end %>
								</td>
								
							</tr>
				<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="merchant_account">
		<div class="tabs">
			<ul>
				<li><a href="#merchant_info">Info</a></li>
				<li><a href="#merchant_paypal">PayPal</a></li>
				<li><a href="#merchant_facebook">Facebook</a></li>
				<li><a href="#merchant_set_password">Password</a></li>
			</ul>
			<div id="merchant_info">
				<% form_for(@merchant) do |f| %>
				<div style="width:130px; float:left; clear:both">Company Name:</div>
					<%= f.text_field :merchant_name, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Contact Name:</div>
					<%= f.text_field :merchant_contact, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (1):</div>
					<%= f.text_field :merchant_address1, :size => 35 %> <br /><br />
				<div style="width:130px; float:left; clear:both">Address (2):</div>
					<%= f.text_field :merchant_address2, :size => 35 %> <br /><br />
				<div style="width:350px; float:left; clear:both"><span style="width:130px; display:block; float:left">City:</span
					<%= f.text_field :merchant_city, :size => 20 %> </div>
				<div style="width:130px; float:left; "><span style="width:50px; display:block; float:left">State:</span>
		<%= f.text_field :merchant_state, :size => 3 %></div>
	    <div style="width:130px; float:left;">Zip: 
		<%= f.text_field :merchant_postalcode, :size => 5 %></div>
		<div style="width:130px; float:left;">Country: 
		<%= f.text_field :merchant_country, :size => 5 %></div><br /><br />
		<div style="width:130px; float:left; clear:both">Website:</div>
					<%= f.text_field :merchant_website, :size => 69 %> <br /><br />
		<div style="width:130px; float:left; clear:both">Email:</div>
					<%= f.text_field :email, :size => 69 %> <br /><br />
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
				<% end %>
			</div>
			<div id="merchant_paypal">
				<% form_for(@merchant) do |f| %>
				<div style="width:160px; float:left; clear:both">Paypal Email Address:</div>
					<%= f.text_field :merchant_paypal, :size => 35 %> <br />
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
				<% end %>
			</div>
			<div id="merchant_facebook">
				<% form_for(@merchant) do |f| %>
					<div style="width:150px; float:left; clear:both">Facebook Page ID:</div>
					<%= f.text_field :merchant_fb_page, :size => 35 %> <br />
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
				<% end %>
			</div>
			<div id="merchant_set_password">
				<% form_for :merchant, :url => {:action => "set_password"} do |f| %>
				    <p>Note: Remember to change your Ayopa password in your shopping cart console.</p>
					<div style="width:150px; float:left; clear:both">Password:</div>
					<%= f.password_field :password, :size => 35 %> <br /><br />
					<div style="width:150px; float:left; clear:both">Password Confirm:</div>
					<%= f.password_field :password_confirmation, :size => 35 %> <br />
					<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
					<%= f.hidden_field :id, :value => session[:user_id] %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="merchant_plugins">
		<a href="http://ayopa-resources.s3.amazonaws.com/plugins/Miva-Ayopa-Plugin.zip" target="_blank"><img src="/images/get_miva_plugin.png"></a>
		<ol>
			<li>Download and extract the .zip file</li>
			<li>Read the readme.pdf for instructions on how to install the plugin for Miva Merchant</li>
		</ol>
		<br/><br/>
		<a href="http://www.facebook.com/apps/application.php?id=120882414650116" target="_blank"><img src="/images/install_facebook_app.png"></a>
		<ol>
			<li>Make sure you set your Facebook Page Id in your account settings.</li>
			<li>Go to the Facebook app page and click the "Add to my Page" link.</li>
			<li>Select your company page from the pages list.</li>
			<li>Your Ayopa auctions will now display on your Facebook business page on the Ayopa Auctions tab.</li>
			
		</ol>
	</div>
</div>
