<% content_for :head do %>
<script>
	/* All you have to do is to call
	 * a box() function on a selection
	 */

	$(document).ready(function() {

		$(".tabs").tabs();

		$("#rebates_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#rebates_pager"), positionFixed: false});
	    

		$("#details_table").tablesorter({widthFixed: true, widgets: ['zebra']})
					.tablesorterPager({container: $("#details_pager"), positionFixed: false});
	});
</script>
<% end %>

<div class="tabs">
	<ul>
		<li><a href="#consumer_reports">Reports</a></li>
		<li><a href="#consumer_info">Rebate Setup</a></li>
		<li><a href="#consumer_account">Account</a></li>
	</ul>
	
	<div id="consumer_reports">
		<div class="tabs">
			<ul>
				<li><a href="#consumer_auctions">My Auctions</a></li>
				<li><a href="#consumer_status">Rebate Status</a></li>
				
			</ul>
			
			<div id="consumer_auctions">
				<div id="details_pager" class="pager">
					<form>
						<img src="images/first.png" class="first"/>
						<img src="images/prev.png" class="prev"/>
						<input type="text" class="pagedisplay"/>
						<img src="images/next.png" class="next"/>
						<img src="images/last.png" class="last"/>
						<select class="pagesize">
							<option selected="selected"  value="10">10</option>

							<option value="20">20</option>
							<option value="30">30</option>
							<option  value="40">40</option>
						</select>
					</form>
				</div>

				<table id="details_table" class="tablesorter">
					<thead>
						<tr>
							<th>Product</th>
							<th>Purchase Price</th>
							<th>Current Price</th>
							<th>Current Buyers</th>
							
							<th>Lowest Price</th>
							<th>Max Buyers</th>
						</tr>
					</thead>
					<tbody>
						<% @purchases.each do |p| %>
						<% if p.auction_expired != 1%>
						<tr>
							<td><%= p.product_name %></td>
							<td><%=h number_to_currency p.purchase_price %></td>
							<td><%=h number_to_currency p.current_price %></td>
							<td><%= p.current_level %></td>
							
							<td><%=h number_to_currency p.lowest_price%></td>
							
							<td><%= p.lowest_level %></td>
						</tr>
						<% end %>
						<% end %>
						
					</tbody>
				</table>
			</div>
			<div id="consumer_status">
					<div id="rebates_pager" class="pager">
						<form>
							<img src="images/first.png" class="first"/>
							<img src="images/prev.png" class="prev"/>
							<input type="text" class="pagedisplay"/>
							<img src="images/next.png" class="next"/>
							<img src="images/last.png" class="last"/>
							<select class="pagesize">
								<option selected="selected"  value="10">10</option>

								<option value="20">20</option>
								<option value="30">30</option>
								<option  value="40">40</option>
							</select>
						</form>
					</div>

					<table id="rebates_table" class="tablesorter">
						<thead>
							<tr>
								<th>Merchant Name</th>
								<th>Product</th>
								
								<th>Rebate Status</th>
								<th>Rebate Amount</th>
								
							</tr>
						</thead>
						<tbody>
							<% @purchases.each do |p| %>
							<tr>
								<td style="width:20%"><%= p.merchant_name %></td>
								<td style="width:20%"><%= p.product_name %></td>
								
								<td>
									<% if p.rebate_sent == "1" %>
										Check Sent<br /> <img src="images/check_sent.png" alt="2" />
									<% elsif p.auction_expired  %>
										Completed<br /> <img src="images/completed.png" alt="2" />
									<% else %>
										In Progress<br /> <img src="images/in_progress.png" alt="0" />
									<% end %>
								</td>
								<td><%=h number_to_currency p.savings %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
			</div>
			
		</div>
	</div>
	
	
	<div id="consumer_info">
		<% form_for(@buyer) do |f| %>
		Enter the address you want your rebate check to be sent to.<br /><br />
		<div style="width:100px; float:left">Address (1):</div>
		<%= f.text_field :buyer_address1, :size => 35 %>
		
		<br /><br />
	    <div style="width:100px; float:left; clear:both">Address (2):</div>
		<%= f.text_field :buyer_address2, :size => 35 %>
		<br /><br />
	    <div style="width:100px; float:left; clear:both">City:</div>
		<%= f.text_field :buyer_city, :size => 35 %>
		<br /><br />
	    <div style="width:170px; float:left; clear:both"><span style="width:100px; display:block; float:left">State:</span>
		<%= f.text_field :buyer_state, :size => 3 %></div>
	    <div style="width:120px; float:left;">Zip: 
		<%= f.text_field :buyer_zip, :size => 5 %></div><br /><br />
		<%= image_submit_tag '/images/save.png', :id => session[:user_id] %>
		<% end %>
		<div class="clear"></div>
		
		
		
	</div>
	<div id="consumer_account">
		<div class="tabs">
			<ul>
				<li><a href="#consumer_password">Password</a></li>
			</ul>
			<div id="consumer_password">
				<% form_for :buyer, :url => {:action => "set_password"} do |f| %>
				    
					<div style="width:150px; float:left; clear:both">Password:</div>
					<%= f.password_field :password, :size => 35 %> <br /><br />
					<div style="width:150px; float:left; clear:both">Password Confirm:</div>
					<%= f.password_field :password_confirmation, :size => 35 %> <br />
					<%= image_submit_tag '/images/save.png' %>
					<%= f.hidden_field :id, :value => session[:user_id] %>
				<% end %>
			</div>
		</div>
	</div>
	
	
</div>